<body>


<div class="container text-center">
<h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;margin-bottom: 20px;">
 Click On below QR Code To Download Your Ticket
  
  
  <div class="com"></div>
</h1>
  <button class="btn btn-primary" (click)="back()">
    <i class="fa-solid fa-left-long"></i>
    Continue booking tickets
  
  </button>

 
</div>
<a href="../../assets/images/qrcode.jpg" download>
  <img src="../../assets/images/qrcode.jpg"width="400" height="400" style="margin-left: 30%;margin-bottom: 50px;border-radius: 20px;">
  </a>














</body>






<!-- qr code   -->




