<header>
  <div class="row row1">
    <div class="col-sm-2">
      <div class="logo">ONLINE CINEMA TICKETBOOKING SYSTEM &NonBreakingSpace;<img src="../../../assets/images/movielogo-fotor-bg-remover-20230513162053.png" width="65%" height="65%"></div>
    </div>
    
      <div class="col-sm-8 col-md-7 col-lg-8"><app-search></app-search></div>
    <div class="col-sm-2 col-md-2 col-lg-2 icons">
      <app-user></app-user>
      <div></div>
      <i class="fa-solid fa-rectangle-list "style="color:black" routerLink="/wishlist"></i>
      <i class="fa-solid fa-video"style="color:black" routerLink="/cart"></i>
      
      
   
    </div>
  </div>
</header>

<!--Adding navbar-->

<app-navbar></app-navbar>