<div class="sidebar">
  <div class="logo">BONLINE CINEMA TICKETBOOKING SYSTEM</div>
  <div class="links">
    <ul>
      <li>
        <a routerLink="/"><i class="fa-solid fa-house-user"></i>Dashboard</a>
      </li>
      <li>
        <a routerLink="/categories"
          ><i class="fa-solid fa-list"></i>Manage Theatres & Showtimings</a
        >
      </li>
      <li>
        <a routerLink="/products"
          ><i class="fa-solid fa-video fa-beat"></i>Movies</a
        >
      </li>
      <li>
        <a routerLink="/orders"
          ><i class="fa-solid fa-inr"></i>Total Sales</a
        >
      </li>
      <li>
        <a routerLink="/users"><i class="fa-solid fa-users"></i>Registered users</a>
      </li>
      <li>
        <!-- <a routerLink="/csv"><i class="fa-solid fa-upload"></i>Bulk Upload Movies</a> -->
      </li>
      <li>
        <a routerLink="/coupons"><i class="fa-solid fa-envelope"></i>Discount Coupons</a>
      </li>
      <li>
        <a (click)="logout()" style="cursor: pointer"
          ><i class="fa-solid fa-right-from-bracket logout"></i>Logout</a
        >
      </li>
    </ul>
  </div>
</div>
