
  <footer class="footer-distributed">
  
        <div class="footer-left">
  
          <h3>ONLINE CINEMA TICKET <span>BOOKING SYSTEM</span></h3>
  
          <p class="footer-links">
            <a href="#">Home</a>
            ·
            <a href="#">Blog</a>
            ·
            <a href="#">Pricing</a>
            ·
            <a href="#">About</a>
            ·
            <a href="#">Faq</a>
            ·
            <a href="#">Contact</a>
          </p>
  
          <p class="footer-company-name">Online Cinema Tickets Booking</p>
  
          <div class="footer-icons" >
  
            <i class="fa-brands fa-facebook fa-2xl" style="color: #0a60f5;"></i>
            <i class="fa-brands fa-instagram fa-2xl" style="color: #da165a;"></i>
            <i class="fa-brands fa-youtube fa-2xl" style="color: #e10e2e;"></i>
            <i class="fa-brands fa-twitter fa-2xl" style="color: #0a4ff0;"></i>
            <i class="fa-brands fa-github fa-2xl" style="color: #e6194d;"></i>
            <i class="fa-brands fa-linkedin fa-2xl" style="color: #0c5de9;"></i>
          </div>
          <pre>



          </pre>
          <div class="footer-center" >

            <div>
              <i class="fa-solid fa-map-marker fa-2xl "style="color: white;"></i><pre></pre>
              <p><span>MEAN </span> wipro chennai elcot</p>
            </div>
    
            <div>
              <i class="fa-solid fa-phone fa-2xl"style="color: white;"></i><pre></pre>
              <p >+91.7676661666 </p>
            </div>
    
            <div>
              <i class="fa-solid fa-envelope fa-2xl"style="color: white;"></i><pre></pre>
              <p><a href="mailto:wipro@company.com" style="color: aliceblue;">wipro@company.com</a></p>
            </div>
    
          </div>
  
        </div>
         

       





  
        <div class="footer-right">
  
          <p>Contact Us</p>
  
          <form action="#" method="post">
  
            <input type="text" name="email" placeholder="Email">
            <textarea name="message" placeholder="Message"></textarea>
            <button (click)="send()">Send</button>
  
          </form>
  
        </div>
  
      </footer>
        
    
 
